@model GenelBilgi
<a target="_blank" href="@Model.Facebook"><i style="font-size:30pt; color:#3B5998" class="fa-brands fa-square-facebook"></i></a>
<a target="_blank" href="@Model.Instagram"><i style="font-size:30pt; color: #125688" class="fa-brands fa-square-instagram"></i></a>
<a target="_blank" href="@Model.Youtube"><i style="font-size:30pt; color:#bb0000" class="fa-brands fa-square-youtube"></i></a>
